@use '../abstracts/variables' as var;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter';
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Clash Display', sans-serif;
  font-weight: 600;
}