@use '../../../abstracts/variables' as var;
@use '../../../abstracts/mixins';

.mentor-image {
  color: var.$white;
  width: 200px;

  .bg {
    width: 200px;
    height: 200px;

    @include mixins.gradient-border(50%);

    img {
      width: 198px;
      height: 198px;
      object-fit: cover;
      border-radius: 50%;
    }

    margin-bottom: 2em;
  }

  h4 {
    margin-bottom: 0.5em;
  }
}