// Colors
$white: #fff;
$iris: #3b48d0;
$phthalo-blue: #0a1482;
$tart-orange: #fd4646;
$storm-dust: #636363;
$baby-blue: #a2cbfb;
$tune: #2f3143;
$black: #0c102d;
$blue-ellipse: #2A3E84;
$purple-blue-grad: linear-gradient(152.14deg, rgba(21, 191, 253, 0.7) 9.96%, rgba(156, 55, 253, 0.7) 100%);
$purple-blue-grad-border: linear-gradient(152.14deg, rgba(21, 191, 253, 0.7) 9.96%, rgba(156, 55, 253, 0.7) 100%);
$purple-blue-zero-grad: linear-gradient(90deg, rgba(21, 191, 253, 0) 8.03%, rgba(21, 191, 253, 0.7) 69.15%, rgba(156, 55, 253, 0.7) 97.95%);
$aqua-grad: linear-gradient(180deg, #1FF2FF 0%, #27F9E5 52.66%, #2FFFCD 100%);
$black-opacity: rgba(255, 255, 255, 0.05);


// Fonts
$p1-font-size: 16px;
$p2-font-size: 14px;